body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #5fcf80;
    margin: 0;
}
@font-face {
    font-family: myFirstFont;
    src: url(SCRIPTINA.ttf);
}
@font-face {
    font-family: mySecondFont;
    src: url(BebasNeue.otf);
}
h2 {
    margin: 0;
    font-size: large;
    font-family: myFirstFont;
    color: darkgray;
}
#brodtext {
    font-family: mySecondFont;
    color: darkgrey;
    font-size: 25px;

}
#adress {
    margin: 0% 1% 10% 36%;
}
#header {
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: hidden;
    background: url("background-lada.png") repeat;
    background-position-x: 562px;
}


.black_overlay {
    background-color: #333;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 50;
}

/*
#formular {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    align-content: center;
    margin: auto auto;*/


#text1 {
    color:darkgrey;
    text-align: center;
    font-family: myFirstFont;
    font-size: x-large;
}

#copyright {
    font-family: 'Open Sans',Arial,sans-serif;
    text-align: right;
    font-size: smaller;
}

#text1:hover {
    color: black;
}

.headerimg {
    position: relative;
    top: 9%;
    height: 160px;
}

#map {
    height: 300px;
    width: 350px;
    margin: 0 auto;
}

h1 {
    color: darkgrey;
    text-align: center;
}
.knappliten {
    color: white;
    padding: 4px 16px;
    background-color: rgba(57, 49, 49, 0.78);
    font-family: sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0% 1% 10% -0.7%;
}
/*Här börjar CSSen för knapparna*/
.knappstorloggain {
    /*padding: 12px 90px;*/
    background-color: rgba(57, 49, 49, 0.78);
    font-family: mySecondFont;
    font-size: 25px;
    /*font-weight: bold;*/
    background: white;
    color: #66CC99;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: 15px 60px;
    text-align: center;
    border: 0px;
    /* transition: all 0.3s ease 0s;*/
    border-right: #66CC99;
}
.knappstorloggain:hover {
    background-color:#66CC99;
    color: white;
    cursor: pointer;
}

.knappstornyanv {
    /*padding: 12px 90px;*/
    background-color: rgba(57, 49, 49, 0.78);
    font-family: mySecondFont;
    font-size: 25px;
    /*font-weight: bold;*/
    background: white;
    color: #66CC99;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: 15px 60px;
    text-align: center;
    border: 0;
    /* transition: all 0.3s ease 0s;*/
}

.knappstornyanv:hover {
    background-color:#66CC99;
    color: white;
    cursor: pointer;
}
#mittenstreck {
    border-right:3px solid lightgrey;
}
/*Här slutar CSSen för knapparna */


/*CSS FÖR ALLA FORMULÄR */ /*CSS FÖR ALLA FORMULÄR */ /*CSS FÖR ALLA FORMULÄR */


#annons {
    color:#fff;
    padding: 10px 20px;
    border-radius: 8px;
    background-color:rgba(57, 49, 49, 0.78);
    text-align: center;
    align-content: center;
    visibility: hidden;
    z-index:999;
    width: 550px;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    box-sizing: border-box;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 3px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}
input {
    margin: 0;

}
fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

/* HÄR SLUTAR CSS FÖR ALLA FORMULÄR */ /*CSS FÖR ALLA FORMULÄR */ /*CSS FÖR ALLA FORMULÄR */

/*CSS FÖR LOGIN */ /*CSS FÖR LOGIN */ /*CSS FÖR LOGIN */



#bg{
    position: relative;
    top: -700px;
    height: 500px;
    width: 600px;
    background: url(http://i.imgur.com/3eP9Z4O.png) center no-repeat;
    background-size: cover;
    margin-right: 50%;
    border: #fff;
    visibility: hidden;
    z-index:999;

}

.module{
    position:relative;
    top:15%;
    height:70%;
    width:450px;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    background:white;

    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);

}

.module ul{
    list-style-type:none;
    margin:0;
}

.tab{
    float:left;
    height:60px;
    width:25%;
    padding-top:20px;
    box-sizing:border-box;
    background:#eeeeee;
    text-align:center;
    cursor:pointer;
    transition:background .4s;
}

.tab:first-child{
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

.tab:last-child{
    -webkit-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

.tab:hover{
    background-color:rgba(0,0,0,.1);
}

.activeTab{
    background:#fff;
}

.activeTab .icon{
    opacity:1;
}

.icon{
    height:24px;
    width:24px;
    opacity:.2;
}

.form{
    float:left;
    height:86%;
    width:100%;
    box-sizing:border-box;
    padding:40px;
}

.textbox{
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:30px;
}



.button{
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:30px;
    background:#90c843;
    color:#FFF;
    font-weight:bold;
    font-size: 12pt;
    transition:background .4s;
    cursor:pointer;
}

.button:hover{
    background:#80b438;

}

#sidebar {

    float: left;
    width: 40%;
    height: 450px;
    background-color: white;
    text-align: center;
}

#main {
    float:right;
    width: 60%;
    height: 450px;
    background-color: white;
    text-align: center;

}

#footer {
    clear: left;
    background-color: #21484C;
    height: 200px;
    width: 100%;
    font-size: 0;
}

#footer > section:nth-child(1) > img{
    size: 20px;
    width: 150px;
    width: 150px;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
    float: left
}
#footer > section:nth-child(2) > img {
    size: 20px;
    width: 150px;
    width: 150px;
    color: white;
    margin-top: 30px;
    float: left;

}
#footer > section:nth-child(1) {
    display: inline-block;
    width: 50%;
}
#footer > section:nth-child(2) {
    display: inline-block;
    width: 49%;
}
h3 {
    font-family: mySecondFont;
    font-size: medium;
    color: white;
}
.close {
    position: absolute;
    padding: 0;
    border:none;
    top: 0;
    right: 0px;
    width: 25px;
    background-color: #80b438;
}