body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: beige;
    margin: 0;
}
@font-face {
    font-family: myFirstFont;
    src: url(SCRIPTINA.ttf);
}
@font-face {
    font-family: mySecondFont;
    src: url(BebasNeue.otf);
}
body >  header {
    text-align: center;
}
body > header:nth-child(1) > div:nth-child(1) {
    margin-bottom: -71px;
    text-align: right;
}
.knappstor {
    /*padding: 12px 90px;*/
    background-color: rgba(57, 49, 49, 0.78);
    font-family: mySecondFont;
    font-size: 20px;
    /*font-weight: bold;*/
    background: beige;
    color: #66CC99;
    height: 60px;
    width: 100px;
    line-height: 60px;
    margin: 15px 15px;
    text-align: center;
    border: 0;
    /* transition: all 0.3s ease 0s;*/
}
.knappstor:hover {
    background-color:#66CC99;
    color: white;
    cursor: pointer;
}
.navBulletsWrapper {
    display: none;
}

.knappstor2 {
    /*padding: 12px 90px;*/
    background-color: rgba(57, 49, 49, 0.78);
    font-family: mySecondFont;
    font-size: 20px;
    /*font-weight: bold;*/
    background: beige;
    color: #66CC99;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: 15px 15px;
    text-align: center;
    border: 0;
    /* transition: all 0.3s ease 0s;*/
}
.knappstor2:hover {
    background-color:#66CC99;
    color: white;
    cursor: pointer;
}
body > header:nth-child(1) > div:nth-child(2) {
    padding-bottom: 10px;
}
/*#banner {
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: hidden;*/
    /*background: url("matlada4april-644x430.png") repeat;*/
}
body > section:nth-of-type(1){
    text-align: center;
    padding: 0.5% 0% 0% 0%
}
body > section:nth-of-type(2){
    background-color: white;
    padding: 8% 0% 8% 0%;
}

body > footer:nth-of-type(1) {
    overflow: hidden;
    padding: 25px;
}
body > footer > section{
    width: 50%;
    text-align: center;
    display: inline-block;
}
body> footer:nth-of-type(1) > section:nth-of-type(1){
    float:left;
}
body > footer:nth-of-type(1)> section:nth-of-type(2) {
    float: right;
}
body  > footer:nth-of-type(1)> section:nth-of-type(2) > img {
    width: 20%;
}
body  > footer:nth-of-type(1)> section:nth-of-type(1) > img {
    width: 20%;
}
/*NADIAS som Cissi klistrat in*/
.knappfooter {
    background-color:#4bc970;
    font-family: mySecondFont;
    font-size: 17px;
    color: white;
    height: 60px;
    width: 200px;
    line-height: 60px;
    text-align: center;
    border: 0;
    font-size: x-large;
}
.knappfooter:hover {
    background-color:#66CC99;
    color: white;
    cursor: pointer;
}
.foljoss {
    color:white;
    font-family: Montserrat, sans-serif;
}
/*slutar här */

/*FOOTER NUMMER 2*/

body > footer:nth-of-type(2){
       display: block;
       overflow: visible;
       margin-right: auto;
       margin-left: auto;
       padding-top: 40px;
       padding-bottom: 20px;
       background-color: #4bc970;
   }
body > footer:nth-of-type(2) > section {
       width: 24.5%;
       display: inline-block;
       height: 100%;
       text-align: center;
}
body > footer:nth-of-type(2) > section:nth-of-type(1) {
background-color:white;
}
.footer {
color:white;
}

ul {
	overflow: auto;
}

ul li {
	list-style-type: none;
	float: left;
}

ul li a i {
	background:pink;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}

#brodtext {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    color: #4a4a4a;
    font-size: 25px;
    line-height: 74px;
    font-weight: 400;
    text-align: center;
    text-align: center;
    text-align: center;
}


.black_overlay {
    background-color: darkgrey;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.7;
    top: 0;
    visibility: hidden;
    z-index: 50;
}

/*
#formular {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    align-content: center;
    margin: auto auto;*/


#text1 {

    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    color: #4a4a4a;
    font-size: 45px;
    line-height: 74px;
    font-weight: 400;
    text-align: center;
    text-align: center;
}

#text1:hover {
    color: black;
}

.headerimg {
    position: relative;
    top: 9%;
    height: 160px;

}

#map {
    border: 20px solid rgba(1, 1, 1, 0.1);
    height: 360px;
    width: 700px;
    margin: 0 auto;
}

h1 {
    color: darkgrey;
    text-align: center;
}
.knappliten {
    color: white;
    padding: 4px 16px;
    background-color:#66cb99;
    font-family: sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0.1% 1% 4% 0%;
}

/*Här börjar CSSen för knapparna*/

#mittenstreck {
    border-right:3px solid lightgrey;
}
/*Här slutar CSSen för knapparna */


/*CSS FÖR ALLA FORMULÄR */ /*CSS FÖR ALLA FORMULÄR */ /*CSS FÖR ALLA FORMULÄR */


.annons {
    font-family: Montserrat, sans-serif;
    color:black;
    padding: 10px 20px;
    border-radius: 8px;
    background-color:rgba(128, 128, 128, 0.93);
    text-align: center;
    align-content: center;
    visibility: hidden;
    z-index:999;
    width: 550px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.settings {
    visibility: visible;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    box-sizing: border-box;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 3px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}
input {
    margin: 0;

}
fieldset {
    text-align: left;
    margin-bottom: 0px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

/* HÄR SLUTAR CSS FÖR ALLA FORMULÄR */ /*CSS FÖR ALLA FORMULÄR */ /*CSS FÖR ALLA FORMULÄR */

/*CSS FÖR LOGIN */ /*CSS FÖR LOGIN */ /*CSS FÖR LOGIN */



#bg{
    font-family: Montserrat, sans-serif;
    color:darkgrey;
    rgba(128, 128, 128, 0.93);
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.93);
    text-align: center;
    align-content: center;
    visibility: hidden;
    z-index:999;
    width: 550px;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);

}

.module{
    position:relative;
    top:15%;
    height:70%;
    width:450px;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    background:#e8eeef;
    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);

}

.module ul{
    list-style-type:none;
    margin:0;
}

.tab{
    float:left;
    height:60px;
    width:25%;
    padding-top:20px;
    box-sizing:border-box;
    background:#eeeeee;
    text-align:center;
    cursor:pointer;
    transition:background .4s;
}

.tab:first-child{
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

.tab:last-child{
    -webkit-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

.tab:hover{
    background-color:rgba(0,0,0,.1);
}

.activeTab{
    background:#fff;
}

.activeTab .icon{
    opacity:1;
}

.icon{
    height:24px;
    width:24px;
    opacity:.2;
}

.form{
    float:left;
    height:86%;
    width:100%;
    box-sizing:border-box;
    padding:40px;
}

.textbox{
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:30px;
}



.button{
    height:50px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:30px;
    background:#90c843;
    color:#FFF;
    font-weight:bold;
    font-size: 12pt;
    transition:background .4s;
    cursor:pointer;
}

.button:hover{
    background:#80b438;

}

#sidebar {

    float: left;
    width: 40%;
    height: 500px;
    background-color: white;
    text-align: center;
}

#main {
    float:right;
    width: 60%;
    height: 500px;
    background-color: white;
    text-align: center;

}


h3 {
    /*font-family: mySecondFont;*/
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    color: #373838;
}

h4 {
 /*   font-family: mySecondFont;*/
    font-family: Montserrat, sans-serif;
    color: #373838;
    font-size:15px
}
.close {
    position: absolute;
    padding: 0;
    border:none;
    top: 0;
    right: 0px;
    width: 25px;
    background-color: #4bc970;
}

#Popup {
    position: fixed;
    height: 200px;
    width: 200px;
    visibility: hidden;
    background-color: white;
    z-index: 100;
}
.left{
    padding: 10px;
    text-align: center;
    float:left;
    width:33%;
}
.right{
    float:right;
    text-align: center;
    width:30%;
    padding: 10px;
}
.centered{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width:30%;
    padding: 10px;
}

.imgen {
   width: 80px;
}


/* Max hemliga dokument */
.infoWindow {
    display: inline-block;
    min-width: 400px;
    position: relative;
    overflow-y: auto;
}
.infoWindow > div{
    width: 72%;
}
.infoWindow > img{
    position: absolute;
    display: block;
    width: 20%;
    right: 27px;
    top: 5px;
}
/*style the box*/
.gm-style .gm-style-iw {
    background-color: white;
    top: 0 !important;
    left: 0 !important;
    width: 84% !important;
    height: 100% !important;
    min-height: 120px !important;
    padding: 5px;
    display: block !important;
}
#filter::-webkit-input-placeholder {
    text-align: center;
}
#filter:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}
#filter::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}
#filter:-ms-input-placeholder {
    text-align: center;
}
#filter{
    text-align: center;
}
/* Slut på Max hemliga dokument */

/*Johans css*/

.plunchbox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid green;


}
#plunchboxwrap {
    display: block;
    border: 1px solid green;
    height: 450px;
    overflow-y: scroll;
}
