<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
    <!--de nya filerna för slides-->
    <link type="text/css" rel="stylesheet" th:href="@{/js-image-slider.css}"/>
    <script type="text/javascript" src="/js-image-slider.js"></script>
</head>
<body>
    <header>
        <!--header med logga och logga in knappar-->
        <div>
            <form id="form" action="login" method="POST">
                <input onclick="fa()" class="knappstor" value="LOGGA IN"/>
                <input onclick="fn()" class="knappstor" value="NY ANVÄNDARE"/>
            </form>
        </div>
        <div>
            <img src="/lunchboxlogga.png" class="headerimg"/>
        </div>
    </header >
    <header class="banner">

        <div id ="slider">
            <img src="/matladasista.png" alt="" />
            <img src="/mealprep4.jpg" alt="" />

        </div>
        <div id="htmlcaption" style="display: none;">

        </div>
        <!--Banner-->
        <div class="div2">

        </div>
    </header>
    <section>
        <!--Textcontent + Karta-->
        <h2 id="text1"> Pallar inte preppa mat...</h2>
        <p id="brodtext"> Stay Cool. Via vår app kan någon annan göra jobbet åt dig. Du sparar tid, energi och pengar.</p>
        <div id="map"></div>
        <p id="filterknappar">

            <input class="filter" placeholder="Sök på sökord.." type="text" value="" onkeyup="filterMap(this.value)"/><input class="filter address" placeholder="Sök på plats.." type="text" value="" />
       </p>
    </section>
    <section>
        <!--Hur fungerar det? Stegvis-->
        <div class="left">
            <img class="imgen" src="002-people.png"/>
            <h3>Laga Matlåda</h3>
            <h4>Om du vill tjäna pengar eller rent av bara älskar att laga mat. Förbered mat till kollegor eller andra i din närhet.</h4>
        </div>
        <div class="centered">
            <img class="imgen" src="001-smartphone-call.png"/>
            <h3>Lägg upp maten eller leta matlåda via vår app </h3>
            <h4>Som säljare lägger du upp sedan upp din maträtt på LUNCHBOX för föräljning. Säljare kan därmed hitta mat och förbokar matlåda via en swish-betalning.</h4>
        </div>
        <div class="right">
            <img class="imgen" src="004-men-couple.png"/>
            <h3>Möt upp köpare/säljare</h3>
            <h4>Efter ni swishat möts ni upp där säljare finns. Säljare tjänar pengar och köpare får avnjuta god mat. </h4>

        </div>
        </section>
    <footer>
        <!--Recensioner-->
        <section>
            <img src="Kristoffer.png"/>

            <h3>Kristoffer Schmidt<h4> "LunchBox har hjälpt min vardag till det bättre! Jag har även fått chansen att smaka massa
                spännande och god mat!"</h4>
            </h3>
        </section>
        <section>
            <img src="Sandra.png"/>

            <h3>Sandra Kjellström<h4> "Det är så otrolig smidigt. Jag har storkok varje söndag och kan tjäna massa pengar!" </h4>
            </h3>
        </section>
    </footer>
    <footer>
            <section>
                <img src="/lunchboxlogga-footer.png" class="headerimg"/>
            </section>
            <section>
                <input onclick="fa()" class="knappfooter" value="Om oss"/>
                <input onclick="fa()" class="knappfooter" value="Så fungerar det"/>
                <input onclick="fa()" class="knappfooter" value="Få inspiration"/>
            </section>
            <section>
                <input onclick="fa()" class="knappfooter" value="Aktuellt just nu"/>
                <input onclick="fa()" class="knappfooter" value="FAQ"/>
                <input onclick="fa()" class="knappfooter" value="Kontakta oss"/>
            </section>
            <section>
                <h3 class="foljoss">Följ oss</h3>
                <div>
                    <a href="[full link to your Twitter]">
                        <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="35" height="35" />
                    </a>
                    <a href="[full link to your Pinterest]">
                        <img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/13_pinterest.png" width="35" height="35" />
                    </a>
                    <a href="[full link to your Facebook page]">
                        <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
                    </a>
                    <a href="[full link to your LinkedIn]">
                        <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35" />
                    </a>
                    <a href="[full link to your Instagram]">
                        <img title="Instagram" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="35" height="35" />
                    </a>
                </div>
                <h3 class="foljoss">Tack!</h3>
            </section>
    </footer>


   <!-- <footer>
        <section>
            <img src="/lunchboxlogga.png" class="headerimg"/>
        </section>
        <section>
            <h3 class="footer">Om oss</h3>
            <h4></h4>
        </section>
        <section>
            <h3 class="footer">Aktuellt just nu</h3>
            <h4></h4>
        </section>
        <section>
            <h3 class="footer">
            <ul>
                <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://plus.google.com/"><i class="fa fa-google-plus"></i> </a></li>
            </ul></h3>
            <h4></h4>
        </section>
    </footer>-->



<div id="formular">
    <div class="black_overlay"></div>
<div class="annons">
    <form class="form" th:action="user" method="POST">
        <h1>Skapa en ny användare</h1>
        <fieldset>
            <legend><span class="number">1</span>Fyll i din information nedan!</legend>

            <input type="text" id="name" th:value="${person.firstName}" name="firstName" placeholder="Namn" />

            <input type="text" id="lastname" th:value="${person.lastName}" name="lastName" placeholder="Efternamn"/>

            <input type="number" id="phonenumber" th:value="${person.phoneNumber}" name="phoneNumber" placeholder="Telefonnummer"/>

            <!--<label for="mail">Email:</label>-->
            <input type="email" id="mail" th:value="${user.mail}" name="mail" placeholder="Email"/>

            <input type="text" id="username" th:value="${user.userName}" name="userName" placeholder="Användarnamn"/>

            <input type="password" id="password" th:value="${user.password}" name="password" placeholder="Lösenord"/>

            <p th:text="${error}"></p>

        </fieldset>
        <button type="submit">Sign Up</button>
    </form>
    <button class="close" onclick="closeFn();" value="Close">X</button>

</div>

    <!--HÄR BÖRJAR NY LOGINEN  -->
    <div class="black_overlay"></div>
    <div id="bg">
        <div class="module">
            <ul>
                <li class="tab activeTab"><img src="http://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
                <!--                <li class="tab" ><img src="http://i.imgur.com/ZsRgIDD.png" alt="" class="icon"/></li>-->
            </ul>
            <h4 class="centered">Fyll i din information nedan!</h4>
            <form th:action="@{/login}" class="form" method="POST">
                <input type="text" name="userName" placeholder="Användarnamn" class="textbox" th:value="${user.userName}"/>
                <input type="text" name="password" placeholder="Lösenord" class="textbox" th:value="${user.password}"/>
                <button type="submit">Logga in</button>

                <p th:text="${incorrLogin}"></p>
            </form>
            <button class="close" onclick="closeFa();" value="Close">X</button>
        </div>
    </div>
</div>

<script type="text/javascript" ype="text/javascript" src="/mapstyle.js"></script>
<script type="text/javascript" src="/lightbox.js"></script>
<script type="text/javascript" th:utext="'var lunchBoxes =' + ${lunchBoxes}"></script>
<script type="text/javascript" src="/app.js"></script>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTZQRmcgBi0Fw0rNCsKoUBZohWk7UW0dw&amp;callback=initMap"></script>
<script type="text/javascript" th:if="${showNewUser}">fn()</script>
<script type="text/javascript" th:if="${showLogin}">fa()</script>
</body>
</html>
