<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <header>
        <!--header med logga och logga in knappar-->
        <div>
            <form id="form" action="login" method="POST">
                <input onclick="fa()" class="knappstor" value="LOGGA IN"/>
                <input onclick="fn()" class="knappstor" value="NY ANVÄNDARE"/>
            </form>
        </div>
        <div>
            <img src="/lunchboxlogga.png" class="headerimg"/>
        </div>
    </header >
    <header id="banner">
        <!--Banner-->
    </header>
    <section>
        <!--Textcontent + Karta-->
        <h2 id="text1"> Är du trött på att förbereda mat?</h2>
        <p id="brodtext">Via vår app kan någon annan göra jobbet åt dig. Du sparar tid, energi och pengar.</p>
        <div id="map"></div>
        <input class="address" type="textbox"/>
        <input class="knappliten newLoc" id="submit" type="button" value="Hitta adress"/>
    </section>
    <section>
        <!--Hur fungerar det? Stegvis-->
        <div class="left">
            <img class="imgen" src="002-people.png"/>
            <h4>Matlåda</h4>
            <h3>gajgpagaj</h3>
        </div>
        <div class="centered">
            <img class="imgen" src="001-smartphone-call.png"/>
            <h4>Matlåda</h4>
            <h3>gajgpagaj</h3>
        </div>
        <div class="right">
            <img class="imgen" src="004-men-couple.png"/>
            <h4>Matlåda</h4>
            <h3>gajgpagaj</h3>
        </div>
        </section>
    <footer>
        <!--Recensioner-->
        <section>
            <img src="Kristoffer.png"/>
            <h3>Kristoffer Schmidt<p> "LunchBox har hjälp min vardag till det bättre! Även fått chansen att smaka massa
                spännande och god mat!</p>
            </h3>
        </section>
        <section>
            <img src="Sandra.png"/>
            <h3>Sandra Kjellström<p> "FUCK VAD BRAAAAAAAAAAA GREEEEEEEJ." </p>
            </h3>
        </section>
    </footer>
    <footer><!--Copyright--></footer>



<div id="formular">-->

<!--</div>-->
<!--HÄR BÖRJAR NY ANVÄNDARFORMULÄRET -->
<div class="annons">
    <form class="form" th:action="user" method="POST">
        <h1>Skapa en ny användare</h1>
        <fieldset>
            <legend><span class="number">1</span>Fyll i din information nedan!</legend>
            <label for="name">Namn:</label>
            <input type="text" id="name" th:value="${person.firstName}" name="firstName"/>

            <label for="lastname">Efternamn:</label>
            <input type="text" id="lastname" th:value="${person.lastName}" name="lastName"/>

            <label for="phonenumber">Telefonnummer:</label>
            <input type="number" id="phonenumber" th:value="${person.phoneNumber}" name="phoneNumber"/>

            <label for="mail">Email:</label>
            <input type="email" id="mail" th:value="${user.mail}" name="mail"/>

            <label for="username">Username:</label>
            <input type="text" id="username" th:value="${user.userName}" name="userName"/>

            <label for="password">Password:</label>
            <input type="password" id="password" th:value="${user.password}" name="password"/>

            <p th:text="${error}"></p>

        </fieldset>
        <button type="submit">Sign Up</button>
    </form>
    <button class="close" onclick="closeFn();" value="Close">X</button>

</div>

    <!--HÄR BÖRJAR NY LOGINEN  -->
    <!--<div class="black_overlay"></div>-->
    <div id="bg">
        <div class="module">
            <ul>
                <li class="tab activeTab"><img src="http://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
                <!--                <li class="tab" ><img src="http://i.imgur.com/ZsRgIDD.png" alt="" class="icon"/></li>-->
            </ul>

            <form th:action="@{/login}" class="form" method="POST">
                <input type="text" name="userName" placeholder="Användernamn" class="textbox" th:value="${user.userName}"/>
                <input type="text" name="password" placeholder="Lösenord" class="textbox" th:value="${user.password}"/>
                <button type="submit">Logga in</button>

                <p th:text="${incorrLogin}"></p>
            </form>
            <button class="close" onclick="closeFa();" value="Close">X</button>
        </div>
    </div>
</div>

<script type="text/javascript" ype="text/javascript" src="/mapstyle.js"></script>
<script type="text/javascript" src="/lightbox.js"></script>
<script type="text/javascript" th:utext="'var lunchBoxes =' + ${lunchBoxes}"></script>
<script type="text/javascript" src="/app.js"></script>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTZQRmcgBi0Fw0rNCsKoUBZohWk7UW0dw&amp;callback=initMap"></script>
<script type="text/javascript" th:if="${showNewUser}">fn()</script>
<script type="text/javascript" th:if="${showLogin}">fa()</script>
</body>
</html>
