<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<head>
    <title>Simple Map</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
    <!--de nya filerna för slides-->
    <link type="text/css" rel="stylesheet" th:href="@{/js-image-slider.css}"/>
    <script type="text/javascript" src="/js-image-slider.js"></script>
</head>
<body>
    <header>
        <!--header med logga och logga in knappar-->
        <div>
            <form id="form" action="login" method="POST">
                <input onclick="bgfunk()" class="knappstor" value="LOGGA IN"/>
                <input onclick="annonsfunk()" class="knappstor" value="NY ANVÄNDARE"/>
            </form>
        </div>
        <div>
            <img src="../images/lunchboxlogga.png" class="headerimg"/>
        </div>
    </header >
    <header class="banner">

        <div id ="slider">
            <img src="../images/matladasista2.png" alt="" />
            <!--<img src="../images/mealprep5.jpg" alt="" />-->
            <img src="../images/bannerbild4.jpg" alt="" />
            <img src="../images/mealprep6.jpg" alt="" />

        </div>
        <div id="htmlcaption" style="display: none;">

        </div>
        <!--Banner-->
        <div class="div2">

        </div>
    </header>
    <section>
        <!--Textcontent + Karta-->
        <h2 id="text1"> Pallar du inte preppa mat?</h2>
        <p id="brodtext"> Stay Cool. Via vår app kan någon annan göra jobbet åt dig. Du sparar tid, energi och pengar.</p>
        <div id="map"></div>

        <p id="filterknappar">
            <input class="filter" placeholder="Sök på sökord.." type="text" value="" onkeyup="filterMap(this.value)"/><input class="filter address" placeholder="Sök på plats.." type="text" value="" />
       </p>
    </section>
    <section>
        <!--Hur fungerar det? Stegvis-->
        <h2 class="text2">Hur fungerar det?</h2>
        <div class="left">
            <img class="imgen" src="../images/002-people.png"/>
            <h3>Laga Matlåda</h3>
            <h4>Om du vill tjäna pengar eller rent av bara älskar att laga mat. Förbered mat till kollegor eller andra i din närhet.</h4>
        </div>
        <div class="centered">
            <img class="imgen" src="../images/001-smartphone-call.png"/>
            <h3>Lägg upp maten eller leta matlåda via vår app </h3>
            <h4>Som säljare lägger du upp sedan upp din maträtt på LUNCHBOX för föräljning. Säljare kan därmed hitta mat och förbokar matlåda via en swish-betalning.</h4>
        </div>
        <div class="right">
            <img class="imgen" src="../images/004-men-couple.png"/>
            <h3>Möt upp köpare/säljare</h3>
            <h4>Efter ni swishat möts ni upp där säljare finns. Säljare tjänar pengar och köpare får avnjuta god mat. </h4>

        </div>
        </section>
    <footer>
        <!--Recensioner-->
        <section>
            <img src="../images/Kristoffer.png"/>

            <h3>Kristoffer Schmidt<h5> "LunchBox har hjälpt min vardag till det bättre! Jag har även fått chansen att smaka massa
                spännande och god mat!"</h5>
            </h3>
        </section>
        <section>
            <img src="../images/Sandra.png"/>

            <h3>Sandra Kjellström<h5> "Det är så otrolig smidigt. Jag har storkok varje söndag och tjänar massa pengar!" </h5>
            </h3>
        </section>
    </footer>
    <footer>
            <section>
                <img src="../images/lunchboxlogga-footer.png" class="headerimg"/>
            </section>
            <section>
                <input onclick="omossfunk()" class="knappfooter" value="Om oss"/>
                <a href="https://www.youtube.com/watch?v=54hnztzvD0U"><input class="knappfooter" value="Så fungerar det"/></a>
                <a href="http://www.koket.se/"><input onclick="fa()" class="knappfooter" value="Få inspiration"/></a>
            </section>
            <section>
                <input onclick="fa()" class="knappfooter" value="Aktuellt just nu"/>
                <input onclick="faqfunk()" class="knappfooter" value="FAQ"/>
                <input onclick="kontaktaossfunk()" class="knappfooter" value="Kontakta oss"/>
            </section>
            <section>
                <h3 class="foljoss">Följ oss</h3>
                <div>
                    <a href="[full link to your Twitter]">
                        <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="35" height="35" />
                    </a>
                    <a href="[full link to your Pinterest]">
                        <img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/13_pinterest.png" width="35" height="35" />
                    </a>
                    <a href="[full link to your Facebook page]">
                        <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
                    </a>
                    <a href="[full link to your LinkedIn]">
                        <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35" />
                    </a>
                    <a href="[full link to your Instagram]">
                        <img title="Instagram" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="35" height="35" />
                    </a>
                </div>
                <h3 class="foljoss">Tack!</h3>
            </section>
    </footer>




<div id="formular">
<div class="annons">
    <form class="form" th:action="user" method="POST">
        <h1>Skapa en ny användare</h1>
        <fieldset>
            <legend>Fyll i din information nedan</legend>
            <!--<span class="number">1</span>-->

            <input type="text" id="name" th:value="${person.firstName}" name="firstName" placeholder="Namn" />

            <input type="text" id="lastname" th:value="${person.lastName}" name="lastName" placeholder="Efternamn"/>

            <input type="number" id="phonenumber" th:value="${person.phoneNumber}" name="phoneNumber" placeholder="Telefonnummer"/>

            <!--<label for="mail">Email:</label>-->
            <input type="email" id="mail" th:value="${user.mail}" name="mail" placeholder="Email"/>

            <input type="text" id="username" th:value="${user.userName}" name="userName" placeholder="Användarnamn"/>

            <input type="password" id="password" th:value="${user.password}" name="password" placeholder="Lösenord"/>

            <p th:text="${error}"></p>

        </fieldset>
        <button type="submit">Sign Up</button>
    </form>
    <button class="close" onclick="closeannonsfunk();" value="Close">X</button>
</div>
</div>

    <!--HÄR BÖRJAR INLOGG  -->
    <!--  <div class="black_overlay"></div>-->
<div id="bg">
    <form th:action="@{/login}" class="form" method="POST">
        <h1>Logga in</h1>
        <fieldset>
            <legend>Fyll i din information nedan</legend>
        </fieldset>
        <input type="text" name="userName" placeholder="Användarnamn" class="textbox" th:value="${user.userName}"/>
        <input type="password" name="password" placeholder="Lösenord" class="textbox" th:value="${user.password}"/>
        <button type="submit">Logga in</button>

        <p th:text="${incorrLogin}"></p>
    </form>
    <button class="close" onclick="closebgfunk();" value="Close">X</button>
</div>


    <!--<HÄR BÖRJAR KONTAKTA OSS FORMULÄRET></span>-->
<!--<div class="black_overlay"></div>-->
<div id="kontaktaoss">
        <form  method="POST">
            <h1>Kontakta oss </h1>
            <legend>TELEFONNUMMER: +46735767136</legend>
            <legend>MEJL: info@lunchbox.se</legend>
        </form>
        <button class="close" onclick="closekontaktaossfunk();" value="Close">X</button>
</div>

<div id="faq">
    <form  method="POST">
        <h1>FAQ</h1>
        <h1 class="h1faq">Hur beställer jag?</h1>
        <p>
        Skriv bara in din leveransadress på vår hemsida eller app så ser du vilka matlådor som finns tillgängliga.
        Välj sedan om du vill ha smsa eller ringa försäljaren av matlådan.
        Kom överrens och anänd dig sedan av swish eller valfri betalningsmetod
        </p>
        <h1 class="h1faq">Något är fel i min beställning!</h1>
        <p>
        Om något saknas eller är fel i din beställning, skriv på vår chatt eller maila oss direkt så löser vi det
        antingen genom att kreditera dig för saknade varor eller skicka ett bud att hämta upp rätt varor.
        </p>
        <h1 class="h1faq">Jag måste avbryta min beställning!</h1>
        <p>
        Skriv till oss på chatten eller maila oss direkt! Om restaurangen inte börjat tillaga maten kan vi självklart
        avbryta ordern och återbetala dig. Om restaurangen börjat tillaga maten kan vi tyvärr inte återbetala dig.
        </p>
        <h1 class="h1faq">Jag är missnöjd med kvalitén på maten.</h1>
        <p>
        Vi är mycket måna om att enbart samarbeta med säljaren som lagar grymt god mat så vi vill gärna höra om du
        är missnöjd med matens kvalité. Maila oss gärna så kontaktar vi sedan restaurangen som får avgöra grad av
        kompensation.
        </p>
        <h1 class="h1faq">Kan jag få tag på kvitto för mitt köp?</h1>
       <p> Kvitto skickas per mail efter leverans. Om du inte har fått ett kvitto kan det ha hamnat i ett spam-filter,
        maila oss då så skickar vi ett nytt! mindre
        Hur kontaktar jag er?
        För frågor gällande din beställning är det enklaste och snabbaste att skriva till oss på vår live-chatt, i vår
        app eller hemsida. Du kan även maila oss på support@foodora.se så svarar vi på studs. mindre
       </p>
    </form>
    <button class="close" onclick="closefaqfunk();" value="Close">X</button>
</div>

    <div id="omoss">
        <form  method="POST">
            <h1>OM OSS</h1>
            <h1 class="h1faq">OM OSS</h1>
            <h3>
                Lunchbox är en marknadsplats för privatpersoner som vill köpa och sälja matlåder online.
                Skaparna bakom idén är Cecilia, Johan, Nadia, Maximillian och Adam som tillsammans under ett slutprojekt i skolan
                kom på ideén. Dem har sedan dess jobbat hårt för att ta fram den bästa verisonen av Lunchbox.
            </h3>
        </form>
    <button class="close" onclick="closeomossfunk();" value="Close">X</button>
    </div>







    <div class="black_overlay"></div>
    <script type="text/javascript" ype="text/javascript" src="/mapstyle.js"></script>
    <script type="text/javascript" src="/lightbox.js"></script>
    <script type="text/javascript" th:utext="'var lunchBoxes =' + ${lunchBoxes}"></script>
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/markerclusterer.js"></script>
    <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTZQRmcgBi0Fw0rNCsKoUBZohWk7UW0dw&amp;callback=initMap"></script>
    <script type="text/javascript" th:if="${showNewUser}">annonsfunk()</script>
    <script type="text/javascript" th:if="${showLogin}">bgfunk()</script>
</body>
</html>
