<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="/cssfil.css" rel="stylesheet" type="text/css"/>
    <title>Sign up!</title>
</head>
<body>
<h1>Sign Up for Free</h1>
<div class="signup">

    <form th:action="@{/newUser}" method="post">

        Firstname: <input type="text" th:value="${person.firstName}" name="firstName"/>
        Lastname: <input type="text" th:value="${person.lastName}" name="lastName"/>
        Phonenumber: <input type="text" th:value="${person.phoneNumber}" name="phoneNumber"/>
        Username: <input type="text" th:value="${user.userName}" name="userName"/>
        Password: <input type="text" th:value="${user.password}" name="password"/>
        Mail: <input type="text" th:value="${user.mail}" name="mail"/>

        <input class="buttons" type="submit" value="DO IT!"/>
    </form></div>



</body>
</html>