<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <title>Sign up!</title>
</head>
<body>
<h1>Sign Up for Free</h1>
<div class="signup">

    <form th:action="@{/newUser}" method="post">

        Firstname: <input type="text" th:value="${person.firstName}" name="firstName"/>
        Lastname: <input type="text" th:value="${person.lastName}" name="lastName"/>
        Phonenumber: <input type="text" th:value="${person.phoneNumber}" name="phoneNumber"/>
        Username: <input type="text" th:value="${user.userName}" name="userName"/>
        Password: <input type="text" th:value="${user.password}" name="password"/>
        Mail: <input type="text" th:value="${user.mail}" name="mail"/>

        <input class="buttons" type="submit" value="DO IT!"/>
    </form></div>

<h1>Welcome!</h1>
<div>
    <form action="login" method="POST">
        Username: <input name="userName" type="text"/>
        Password: <input name="password" type="password"/>
        <input type="submit" value="Login"/>
    </form>
</div>

<a href="../Adam">
    <div>SignUp</div>
</a>



<div id="panel">
    <input id="address" type="textbox"/>
    <input id="submit" type="button" value="Hitta address"/>
</div>
<div id="map"></div>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTZQRmcgBi0Fw0rNCsKoUBZohWk7UW0dw&amp;callback=initMap"></script>
<script type="text/javascript" src="/app.js"></script>

</body>
</html>