<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta charset="utf-8"/>

    <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<header id="header">
    <img src="../images/lunchboxlogga.png" class="headerimg"/>
</header>

<!--<div id="formular">-->
<article id="sidebar">
    <header>
        <h2 id="text1" th:inline="text">Hej, [[${session.person.firstName}]]!</h2>
    </header>
    <section>
        <p id="brodtext">Vad vill du göra idag?</p>
    </section>
    <section>
        <form id="form" action="login" method="POST">
                <input onclick="showSalesForm()" class="knappstor2" value="Sälja mat"/>
        </form>
        <form action="updateLunchBoxes" method="post">
            <input type="submit" class="knappstor2" value="Hantera matlådor"/>
        </form>
        <form action="settings" method="get">
            <input type="submit" class="knappliten" value="Användarinställningar"/>
        </form>
        <form action="logout" method="post">
            <input type="submit" class="knappliten" value="Logga ut"/>
        </form>
    </section>
</article>

<aside id="main">
    <h2>Leta rätt på postkod?</h2>
    <section>
        <div id="map"></div>
    </section>
    <section>
        <input class="address" type="textbox"/>
        <input class="knappliten newLoc" type="button" value="Hitta adress"/>
    </section>

</aside>

<footer id="footer">
    <section>
        <img src="../images/Kristoffer.png"/>
        <h3>Kristoffer Schmidt<p> "LunchBox har hjälp min vardag till det bättre! Även fått chansen att smaka massa spännande och god mat!</p></h3>
    </section>
    <section>
        <img src="../images/Sandra.png"/>
        <h3>Sandra Kjellström<p> "FUCK VAD BRAAAAAAAAAAA GREEEEEEEJ." </p></h3>
    </section>

</footer>



<!--</div>-->
<!--HÄR BÖRJAR NY ANVÄNDARFORMULÄRET -->
<div class="annons">

    <form class="form" th:action="lunchbox" method="post">
        <h1>Lägg upp din matlåda</h1>
        <fieldset>
            <legend><span class="number">1</span>Berätta om din matlåda</legend>

            <label for="name">Vad heter din rätt?</label>
            <input type="text" id="name" name="description" th:value="${lunchbox.description}"/>

            <label for="image">Lägg upp en bild</label>
            <input type="file" id="image"  accept="image/*"/>
            <input id="hiddenImage" type="hidden" name="image" value="value"/>
            <label for="matlada">Finns det några nämnvärda ingredienser din rätt innehåller?</label>
            <textarea id="matlada" th:field="${lunchbox.ingridiences}" name="ingridiences"></textarea>
            <label for="amountOfLunchBoxes">Hur många matlådor vill du sälja?</label>
            <input type="text" id="amountOfLunchBoxes" name="amountOfLunchBoxes" th:value="${lunchbox.amountOfLunchBoxes}"/>
            <label for="pris">Hur mycket skall varje matlåda kosta?</label>
            <input type="text" id="pris" name="pris" th:value="${lunchbox.pris}"/>
            <label for="location">Var kommer försäljningen att ske?</label>
            <input type="text" class="address" th:value="${location}" id="location" name="location"/>


        <label>Typ av rätt:</label>
            <input type="checkbox" th:checked="${lunchbox.kyckling}" name="kyckling">Kyckling</input>
            <input type="checkbox" th:checked="${lunchbox.not}" name="not">Nötkött</input>
            <input type="checkbox" th:checked="${lunchbox.flask}" name="flask">Fläsk</input>
            <input type="checkbox" th:checked="${lunchbox.fisk}" name="fisk">Fisk</input>
            <input type="checkbox" th:checked="${lunchbox.vego}" name="vego">Vegetariskt</input>
            <input type="checkbox" th:checked="${lunchbox.vegan}" name="vegan">Veganskt</input>


            <label>Allergivänlig:</label>
            <input type="checkbox" id="laktosfritt" th:checked="${lunchbox.laktos}" name="laktos"/><label class="light" for="laktosfritt">Laktosfritt</label>
            <input type="checkbox" id="glutenfritt" th:checked="${lunchbox.gluten}" name="gluten"/><label class="light" for="glutenfritt">Glutenfritt</label>


        </fieldset>
        <button class="newLoc" type="submit">Lägg upp din matlåda</button>
    </form>
    <button class="close" onclick="closeSalesForm();" value="Close">X</button>

</div>


<script type="text/javascript" src="/mapstyle.js"></script>
<script type="text/javascript" src="/lightbox.js"></script>
<script type="text/javascript" th:utext="'var lunchBoxes =' + ${lunchBoxes}"></script>
<script type="text/javascript" src="/app.js"></script>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTZQRmcgBi0Fw0rNCsKoUBZohWk7UW0dw&amp;callback=initMap"></script>
<script type="text/javascript" th:if="${showNewUser}">fn()</script>
<script type="text/javascript" th:if="${showLogin}">fa()</script>
<script type="text/javascript" src="/fileUpload.js"></script>

</body>
</html>
