<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Simple Map</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta charset="utf-8"/>

    <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<header id="header">
    <img src="../images/lunchboxlogga.png" class="headerimg"/>
</header>

<!--<div id="formular">-->
<article id="sidebar">
    <header>
        <h2 id="text1" th:inline="text">Hej, [[${session.person.firstName}]]!</h2>
    </header>
    <section>
        <p id="brodtext">Se dina aktuella matlådor till höger</p>
    </section>
    <section>
        <form action="/" method="get">
            <input type="submit" class="knappstor" value="Tillbaka"/>
        </form>
    </section>
</article>


<aside id="main">
    <section id="plunchboxwrap">

    <tr th:each="lunchbox : ${personLunchBoxes}">
        <section class="plunchbox">
            <form action="remove" id="removeForm" method="post" th:object="${lunchbox}">
                <input type="hidden" th:value="*{LunchBoxID}" name="lunchboxid"/>
                <div th:text="*{description}"></div>
          </form>
            <form action="decrease" method="post" th:object="${lunchbox}">
                <input type="hidden" th:value="*{LunchBoxID}" name="lunchboxid"/>
                <div th:text="'Antal matlådor till försäljning: ' + *{amountOfLunchBoxes} + ' st' "></div>
                <div th:text="'Pris: ' + *{pris} + ' kr' "></div>
                <button class="plunchbutton" type="submtit">Minska antalet matlådor med 1</button>
            </form>
            <button class="plunchbutton" type="submit" form="removeForm">Ta bort matlåda</button>
        </section>
    </tr>
    </section>
</aside>

<footer id="footer">
    <section>
        <img src="../images/Kristoffer.png"/>
        <h3>Kristoffer Schmidt<h5> "LunchBox har hjälpt min vardag till det bättre! Jag har även fått chansen att smaka massa
            spännande och god mat!"</h5></h3>
    </section>
    <section>
        <img src="../images/Sandra.png"/>
        <h3>Sandra Kjellström<h5> "Det är så otrolig smidigt. Jag har storkok varje söndag och tjänar massa pengar!" </h5></h3>
    </section>

</footer>


<script type="text/javascript" src="/mapstyle.js"></script>
<script type="text/javascript" src="/lightbox.js"></script>
<script type="text/javascript" th:utext="'var lunchBoxes =' + ${lunchBoxes}"></script>
<script type="text/javascript" src="/app.js"></script>

</body>
</html>
