<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Simple Map</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta charset="utf-8"/>

    <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<header id="header">
    <img src="../images/lunchboxlogga.png" class="headerimg"/>
</header>
<article id="sidebar">
    <header>
        <h2 id="text1" th:inline="text">Hej, [[${session.person.firstName}]]!</h2>
    </header>
    <section>
        <p id="brodtext">Vad vill du göra idag?</p>
    </section>
    <section>
        <form class="userButton" action="login" method="POST">
            <input onclick="showSalesForm()" class="knappstor2" value="Sälja mat"/>
        </form>
        <form class="userButton">
            <input onclick="showBuyerInfo()" class="knappstor2" value="Köpa mat"/>
        </form>
        <form class="userButton" action="updateLunchBoxes" method="post">
            <input type="submit" class="knappstor2" value="Hantera matlådor"/>
        </form>
        <form class="userButton" action="settings" method="get">
            <input type="submit" class="knappstor2" value="Användarinställningar"/>
        </form>
        <form class="userButton" action="logout" method="post">
            <input type="submit" class="knappstor2" value="Logga ut"/>
        </form>
    </section>
</article>

    <aside id="main">
        <section>
            <div id="map"></div>
        </section>
        <section>
            <input class="filter" placeholder="Sök på sökord.." type="text" value="" onkeyup="filterMap(this.value)"/><input class="filter address" placeholder="Sök på plats.." type="text" value="" />
        </section>
    </aside>

<footer id="footer">
    <section>
        <img src="../images/Kristoffer.png"/>
        <h3>Kristoffer Schmidt<h5>  "LunchBox har hjälpt min vardag till det bättre! Jag har även fått chansen att smaka massa
            spännande och god mat!"</h5></h3>
    </section>
    <section>
        <img src="../images/Sandra.png"/>
        <h3>Sandra Kjellström<h5> "Det är så otrolig smidigt. Jag har storkok varje söndag och tjänar massa pengar!"</h5></h3>
    </section>

</footer>
<footer>
    <section>
        <img src="../images/lunchboxlogga-footer.png" class="headerimg"/>
    </section>
    <section>
        <input onclick="fa()" class="knappfooter" value="Om oss"/>
        <input onclick="fa()" class="knappfooter" value="Så fungerar det"/>
        <input onclick="fa()" class="knappfooter" value="Få inspiration"/>
    </section>
    <section>
        <input onclick="fa()" class="knappfooter" value="Aktuellt just nu"/>
        <input onclick="fa()" class="knappfooter" value="FAQ"/>
        <input onclick="fa()" class="knappfooter" value="Kontakta oss"/>
    </section>
    <section>
        <h3 class="foljoss">Följ oss</h3>
        <div>
            <a href="[full link to your Twitter]">
                <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="35" height="35" />
            </a>
            <a href="[full link to your Pinterest]">
                <img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/13_pinterest.png" width="35" height="35" />
            </a>
            <a href="[full link to your Facebook page]">
                <img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png" width="35" height="35" />
            </a>
            <a href="[full link to your LinkedIn]">
                <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="35" height="35" />
            </a>
            <a href="[full link to your Instagram]">
                <img title="Instagram" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png" width="35" height="35" />
            </a>
        </div>
        <h3 class="foljoss">Tack!</h3>
    </section>
</footer>



<!--</div>-->
<!--HÄR BÖRJAR NY ANVÄNDARFORMULÄRET -->
<div class="annons">
    <form class="form" th:action="lunchbox" method="post">
        <h1>Lägg upp din matlåda</h1>
        <fieldset>
            <!--<legend><span class="number">1</span>Berätta om din matlåda</legend>-->
            <label for="name">Vad heter din rätt?</label>
            <input type="text" id="name" name="description" th:value="${lunchbox.description}"/>

            <div><label for="image">Lägg upp en bild</label>
            <div><input type="file" id="image" accept="image/*"/></div>
            <input id="hiddenImage" type="hidden" name="image" value="value"/></div>
            <div><label for="matlada">Kort beskrivning av din rätt. inkl ingredienser.</label>
            <textarea id="matlada" th:field="${lunchbox.ingridiences}" name="ingridiences"></textarea></div>
            <label for="amountOfLunchBoxes">Hur många matlådor vill du sälja?</label>
            <input type="text" id="amountOfLunchBoxes" name="amountOfLunchBoxes"
                   th:value="${lunchbox.amountOfLunchBoxes}"/>
            <label for="pris">Hur mycket skall varje matlåda kosta?</label>
            <input type="text" id="pris" name="pris" th:value="${lunchbox.pris}"/>
            <label for="location">Var kommer försäljningen att ske?</label>
            <input type="text" class="address" th:value="${location}" id="location" placeholder="Adress" name="location"/>


            <div><label>Typ av rätt:</label></div>
            <input type="checkbox" th:checked="${lunchbox.kyckling}" name="kyckling">Kyckling</input>
            <input type="checkbox" th:checked="${lunchbox.not}" name="not">Nötkött</input>
            <input type="checkbox" th:checked="${lunchbox.flask}" name="flask">Fläsk</input>
            <input type="checkbox" th:checked="${lunchbox.fisk}" name="fisk">Fisk</input>
            <input type="checkbox" th:checked="${lunchbox.vego}" name="vego">Vegetariskt</input>
            <input type="checkbox" th:checked="${lunchbox.vegan}" name="vegan">Veganskt</input>


            <div><label>Allergivänlig:</label></div>
            <input type="checkbox" id="laktosfritt" th:checked="${lunchbox.laktos}" name="laktos"/><label class="light" for="laktosfritt">Laktosfritt</label>
            <input type="checkbox" id="glutenfritt" th:checked="${lunchbox.gluten}" name="gluten"/><label class="light" for="glutenfritt">Glutenfritt</label>


        </fieldset>
        <button class="newLoc" type="submit">Lägg upp din matlåda</button>
    </form>
    <button class="close" onclick="closeSalesForm();" value="Close">X</button>

</div>

<!--KÖPINFOFORMULÄR-->
<div id="buyerinfo">
    <h1>Så här fungerar det</h1>
    <ul>
    <li><div>Med hjälp av kartan letar du upp matlådor, som representeras av ikoner på den typ av rätt som säljs just där (Kyckling, Nötkött, Fläskkött, Fisk, Vegetariskt eller Vegan)</div></li>
    <li><div>När du klickar på en ikon i det område du är intresserad av att handla får du mer information om just den matlådan, och vem som säljer den</div></li>
    <li><div>Själva köptransaktionen lämnar vi upp till dig. Ta kontakt med säljaren och meddela personen om att du är intresserad av att köpa matlådan</div></li>
    </ul>
    <button onclick="closeBuyerInfo()">Jag förstår! Låt mig börja shoppa</button>
    <button class="close" onclick="closeBuyerInfo();" value="Close">X</button>
</div>

<script type="text/javascript" src="/mapstyle.js"></script>
<script type="text/javascript" src="/lightbox.js"></script>
<script type="text/javascript" th:utext="'var lunchBoxes =' + ${lunchBoxes}"></script>
<script type="text/javascript" src="/app.js"></script>
<script type="text/javascript" th:if="${persons != null}" th:utext="'var persons =' + ${persons}"></script>
<script type="text/javascript" src="/markerclusterer.js"></script>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTZQRmcgBi0Fw0rNCsKoUBZohWk7UW0dw&amp;callback=initMap"></script>
<script type="text/javascript" th:if="${showNewUser}">fn()</script>
<script type="text/javascript" th:if="${showLogin}">fa()</script>
<script type="text/javascript" src="/fileUpload.js"></script>

</body>
</html>
