<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0"/>
    <meta charset="utf-8"/>

    <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<header id="header">
    <img src="/lunchboxlogga.png" class="headerimg"/>
</header>

<!--<div id="formular">-->
<article id="sidebar">
    <header>
        <h2 id="text1" th:inline="text">Hej, [[${session.person.firstName}]]!</h2>
    </header>
    <section>
        <p id="brodtext">Se dina aktuella matlådor till höger:</p>
    </section>
    <section>
        <form action="/" method="get">
            <input type="submit" class="knappstor" value="Tillbaka"/>
        </form>
    </section>
</article>


<aside id="main">
    <section id="plunchboxwrap">

    <tr th:each="lunchbox : ${personLunchBoxes}">
        <section class="plunchbox">
            <form action="remove" method="post" th:object="${lunchbox}">
                <input type="hidden" th:value="*{LunchBoxID}" name="lunchboxid"/>
                <td th:text="*{description}"></td>
                <input type="submit" class="knappliten" value="Ta bort matlåda"/>
          </form>
        </section>
    </tr>
    </section>
</aside>

<footer id="footer">
    <section>
        <img src="Kristoffer.png"/>
        <h3>Kristoffer Schmidt<p> "LunchBox har hjälp min vardag till det bättre! Även fått chansen att smaka massa spännande och god mat!</p></h3>
    </section>
    <section>
        <img src="Sandra.png"/>
        <h3>Sandra Kjellström<p> "FUCK VAD BRAAAAAAAAAAA GREEEEEEEJ." </p></h3>
    </section>

</footer>


<script type="text/javascript" src="/mapstyle.js"></script>
<script type="text/javascript" src="/lightbox.js"></script>
<script type="text/javascript" th:utext="'var lunchBoxes =' + ${lunchBoxes}"></script>
<script type="text/javascript" src="/app.js"></script>

</body>
</html>
